[

 ;; tickets

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/id
  :db/valueType :db.type/squuid
  :db/cardinality :db.cardinality/one
  :db/doc "ticket id "
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "ticket name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "ticket type"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/product-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "product id"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/subject
  :db/valueType :db.type/text
  :db/cardinality :db.cardinality/one
  :db/doc "ticket subject"
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ticket/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "ticket type enum values"
  :db.install/_attribute :db.part/db}



 ;; contacts

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "contact id (upsertable)"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/language
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "contact language"
  :db.install/_attribute :db.part/db}



 ;; various enums

 [:db/add #db/id[:db.part/user] :db/ident :language/en]

 [:db/add #db/id[:db.part/user] :db/ident :source/email]
 [:db/add #db/id[:db.part/user] :db/ident :source/portal]
 [:db/add #db/id[:db.part/user] :db/ident :source/phone]
 [:db/add #db/id[:db.part/user] :db/ident :source/chat]
 [:db/add #db/id[:db.part/user] :db/ident :source/mobi-help]
 [:db/add #db/id[:db.part/user] :db/ident :source/feedback-widget]
 [:db/add #db/id[:db.part/user] :db/ident :source/outbound-email]

 ;; ticket/status enum values
 [:db/add #db/id[:db.part/user] :db/ident :status/open]
 [:db/add #db/id[:db.part/user] :db/ident :status/pending]
 [:db/add #db/id[:db.part/user] :db/ident :status/resolved]
 [:db/add #db/id[:db.part/user] :db/ident :status/closed]

 ;; ticket/priority enum values
 [:db/add #db/id[:db.part/user] :db/ident :priority/low]
 [:db/add #db/id[:db.part/user] :db/ident :priority/medium]
 [:db/add #db/id[:db.part/user] :db/ident :priority/high]
 [:db/add #db/id[:db.part/user] :db/ident :priority/urget]

 ;; forum/type enum values
 [:db/add #db/id[:db.part/user] :db/ident :forum.type/how-to]
 [:db/add #db/id[:db.part/user] :db/ident :forum.type/ideas]
 [:db/add #db/id[:db.part/user] :db/ident :forum.type/problems]
 [:db/add #db/id[:db.part/user] :db/ident :forum.type/announce]

 ;; forum/type enum values
 [:db/add #db/id[:db.part/user] :db/ident :forum.visibility/every-one]
 [:db/add #db/id[:db.part/user] :db/ident :forum.visibility/loggedin-users]
 [:db/add #db/id[:db.part/user] :db/ident :forum.visibility/agents-only]
 [:db/add #db/id[:db.part/user] :db/ident :forum.visibility/users-specific-companies-only]

 ]
